.buttonsContainer {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.title{
  font-weight: normal;
}

.form{
  margin-top: 20px;
  box-shadow: 0px 4px 6px -3px rgba(34, 60, 80, 0.2);
  padding: 20px;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.line{
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.inputsContainer {
  display: flex;
  @media (max-width:1024px) {
    flex-direction: column;
  }
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}